<a href="https://colab.research.google.com/github/eauer22/IO-Data-Science-Toolkit/blob/main/Colab_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
1 + 1

2

In [3]:
x = 1
x

1

I can write documentation here

In [7]:
import seaborn as sns

iris = sns.load_dataset("iris")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [11]:
iris.groupby("species").agg({"petal_width" : "mean"})

            petal_width
species
setosa            0.246
versicolor        1.326
virginica         2.026